/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*PAGE 1*/
/*Body*/
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color:rgb(215, 250, 217);
}

main {
    flex-grow: 1;
}
/*Banner(Home when you enter the page)*/
    .banner {
        background-image: url(Screenshot\ 2025-01-25\ at\ 20.47.34.png);
        background-repeat: no-repeat;
        min-height: 650px;
        background-position: center;
        flex-direction: column;
        border-color: black;
        border: 10px;
        text-align: center;
        padding-top: 20px;
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 5px;
        background-size: cover;
    }

    #h1_banner {
        font-family: Montserrat;
        color: rgb(255, 255, 255);
    }

    .banner_buttons {
        background-color:rgb(215, 250, 217);
        color:rgb(0, 0, 0);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        font-family: Montserrat;
        text-decoration: none;
    }

/*Nav*/
nav {

    border-bottom: rgb(192, 220, 192);
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    width: 100%;
 
}

.nav_text_all {
    padding: 23.5px;
}

/*for the nav bar*/
nav .nav_text {
    color: rgb(0, 0, 0);
}

nav .nav_text_select {
    color: rgb(0, 121, 22);
}

/*for the footer*/
footer .nav_text {
    color: rgb(237, 237, 237);
}

footer .nav_text_select {
    color: rgb(165, 237, 178);
}
/*end*/

.nav_text {
    text-decoration: none;
    font-family: Montserrat;
    padding: 15px;
}

.nav_text_select {
    text-decoration: underline;
    font-family: Montserrat;
    padding: 15px;
    text-shadow: 1px 1px 15px rgb(40, 179, 25);
}

.logo_nav {
    padding: 3px;
    text-align: left;
    float: left;
}

/*Menu*/
.menu .nav_text {
    display: none;
}

.menu .nav_text_select {
    display: none;
}

.menu-container {
    position: relative;
    display: inline-block; /* Ensures alignment within nav */
    top: 0;
}

.down_arrow {
    display: none;
}

.menu {
    display: block;
    text-align: center;
    box-shadow: none;
}

#check {
    display: none;
}

/*Betty_text*/
    #iztochnik-betty {
        color: green;
        font-family:'Courier New', Courier, monospace;
        font-size: small;
        text-align: right;
        padding-right: 10px;
    }

    .text-betty {
        font-family: Montserrat;
    }

    #text-all-betty {
        border:solid;
        border-color: rgb(183, 227, 184);
        padding: 10px;
        border-radius: 15px;
        max-width: 830px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #betty-section {
        place-items: center;
        display: grid;
    }

    #youtube-video-betty {
        margin-top: 10px;
        margin-bottom: 10px;
    }

/*Div texts*/
    .text_div {
        text-align: center;
        color: rgb(0, 0, 0);
        padding: 10px;
        font-family: Montserrat;
    }

/*iframe,where are we*/
    iframe {
        border-radius: 10px;
        max-width: 900px;
    }

    .iframe_google-maps {
        display: grid;
        place-items: center;
        margin-left: 5px;
        margin-right: 5px;
    }
/*Timetable*/
    th {
        font-family: Montserrat;
        color: black;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    td {
        font-family: Montserrat;
        color: black;
        padding: 10px;
        text-align: center;
    }

    #timetable_in {
        display: grid;
        place-items: center;
    }

    #timetable {
        width: 40%;
    }
/*footer*/
    footer {
        width: 100%;
        text-align: center;
        background-color: rgb(118, 118, 118);
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-bottom: none;
    }

    .img_f {
        background-color: white;
        border-radius: 10px;
    }

    footer p {
        font-family: Montserrat;
        color: white;
        margin-top: 4px;
    }
















@media (max-width: 492px) {
    .banner_buttons {
        margin-top: 10px;
    }
    .banner {
        display: flex;
    }
}

@media (max-width: 736px) and (min-width:550px) {
    #check:checked ~ .menu {
        right: 0;
        width: 50%;
        box-shadow: 1px 1px 550px black;
    }

    .down_arrow {
        display: block; /* Hidden by default; shown in media queries */
        cursor: pointer;
    }

    nav .nav_text_select {
        display: none;
    }

    nav .nav_text {
        display: none; /* Hide desktop links */
    }

    .menu .nav_text {
        display: flex;
    }

    .menu .nav_text_select {
        display: flex;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: rgb(236, 236, 236);
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 549px) and (min-width: 371px) {
    nav .nav_text_select {
        display: none;
    }

    #check:checked ~ .menu {
        right: 0;
        width: 60%;
        box-shadow: 1px 1px 550px black;
    }

    .down_arrow {
        display: block; /* Hidden by default; shown in media queries */
        cursor: pointer;
    }

    nav .nav_text {
        display: none; /* Hide desktop links */
    }

    .menu .nav_text {
        display: flex;
    }

    .menu .nav_text_select {
        display: flex;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: rgb(236, 236, 236);
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 370px) {
    nav .nav_text_select {
        display: none;
    }

    #check:checked ~ .menu {
        right: 0;
        width: 100%;
        box-shadow: 1px 1px 550px black;
    }

    .down_arrow {
        display: block; /* Hidden by default; shown in media queries */
        cursor: pointer;
    }

    nav .nav_text {
        display: none; /* Hide desktop links */
    }

    .menu .nav_text {
        display: flex;
    }

    .menu .nav_text_select {
        display: flex;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: rgb(236, 236, 236);
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 700px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    footer img {
        align-self: center;
    }
}

@media (max-width: 655px) and (min-width: 437px) {
    #timetable {
        width: 60%;
    }
}

@media (max-width: 436px) {
    #timetable {
        width: 90%;
    }
}
